<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Test camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Use for photo select</string>
	<key>UIAppFonts</key>
	<array>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Akıllı Sağlık uygulamasının seçtiğin kişilere yardım mesajı göndermesi için erişim izni verin.</string>
</dict>
</plist>
